/*salem joban
start working in 15/4/2019*/
*{
    widows: 1140px;
    padding:0;
    margin:0;
    font-family: "montserrat", sans-serif;
}
.color-grey{
    color:rgba(255, 255, 255, 0.774);
}
/*------------^-main_section-^------------*/
section{ 
    background-image:url(images/agenda-analysis-business-plan-990818-\(1\).jpg);
    background-size:cover;
    padding:20px 40px;
    
}
/*----------^-header-^---------*/
header{
    text-align:center;
}
header h1{
    padding:30px 0 30px 0;
    color:rgba(255, 255, 255, 0.904);
    font-size:20px;
    text-transform:uppercase
}
.border-bottom{
    margin:0 auto;
    background-color: #17c0eb;
    width:100px;
    height:1px;
}
/*----------^-services-cotainer-^---------*/
.services-cotainer{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    padding:15px 15px;
    width:100%;
    overflow: hidden;
}
/*----------^-services-boxes-^---------*/
.service-box{
    text-align:center;
    padding:20px 10px;
    width:30%;
   cursor:pointer;
}
.s-box-icon{ 
    display:inline-block;
    font-size:20px;
    color:#01a3a4;
    padding:20px;
    margin-bottom:20px;
    border:1px solid #17c0eb;
    transform:rotate(45deg);
    transition: 0.3s linear;
}
.s-box-icon i{
    transform:rotate(-45deg);
    font-size:20px;
}
.service-box h2{
    text-transform:uppercase;
    padding:15px;
    color:#ddd;
}
.service-box p{
    line-height:1.6;
}
.service-box:hover .s-box-icon{
    color:rgba(255, 255, 255, 0.774);
    background-color:#82ccdd;
    
}
